<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.brain.qmd-refresh</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{ .chezmoi.homeDir }}/.local/bin/brain-qmd-refresh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>BRAIN_ROOT</key>
    <string>{{ dir .chezmoi.sourceDir }}</string>
    <key>MISE_BIN</key>
    <string>{{ lookPath "mise" }}</string>
  </dict>

  <key>ProcessType</key>
  <string>Background</string>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>120</integer>
</dict>
</plist>
